__pycache__/
/extracted_anomaly_maps_fastflow/
/fastflow/
/fastflow_logs/
/maps_fastflow/
/comparisons_fastflow/
/images/
/maps_fastflow/
/overlays_fastflow/
/postprocessed_anomaly_maps/
/prediction_mask_comparisons/
/prediction_masks_fastflow/
/extracted_anomaly_maps_fastflow_nifti/
/extracted_anomaly_maps_fastflow_png/
/postprocessed_anomaly_maps_nifti/
/prediction_masks_fastflow_nifti/
/prediction_mask_comparisons_filtered/
/postprocessed_anomaly_maps_png/
/filtered_prediction_masks_fastflow/

/body_masked_anomaly_maps_png/
/body_masked_mask_comparisons/
/body_masked_masks_fastflow/

apply_bodymask_fastflow_old.py
test.py
/reports
/masks_raw
/masks_ab
/masks_morpho
masks_3d
/morphology/diagnose_masks.py