__pycache__/
/extracted_anomaly_maps_fastflow/
/fastflow/
/fastflow_logs/
/maps_fastflow/
/comparisons_fastflow/
/images/
/maps_fastflow/
/overlays_fastflow/
/postprocessed_anomaly_maps/
/prediction_mask_comparisons/
/prediction_masks_fastflow/
/extracted_anomaly_maps_fastflow_nifti/
/extracted_anomaly_maps_fastflow_png/
/postprocessed_anomaly_maps_nifti/
/prediction_masks_fastflow_nifti/
/prediction_mask_comparisons_filtered/
/postprocessed_anomaly_maps_png/
/filtered_prediction_masks_fastflow/
/results
apply_bodymask_fastflow_old.py
test.py
/reports